<section id="auth-register-section" class="auth-section">

    <div class="auth-card">

        <form id="register-form-element">

            <label>Lorem Ipsum</label>
            <input type="text" placeholder="Lorem Ipsum" required>

            <label>Lorem Ipsum</label>
            <input type="text" placeholder="Lorem Ipsum" required>

            <label>Lorem Ipsum</label>
            <input type="email" placeholder="Lorem Ipsum" required>

            <label>Lorem Ipsum</label>
            <div class="password-wrapper">
                <input type="password" id="reg-password" placeholder="Lorem Ipsum" required>
                <button type="button" id="toggle-reg-pass" class="toggle-password-btn">
                    <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </button>
            </div>

            <label>Lorem Ipsum</label>
            <div class="password-wrapper">
                <input type="password" id="reg-password-confirm" placeholder="Lorem Ipsum" required>
                <button type="button" id="toggle-reg-pass-confirm" class="toggle-password-btn">
                    <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </button>
            </div>

            <div class="auth-checkbox">
                <input type="checkbox" required>
                <div>
                    <strong>Lorem Ipsum</strong><br>
                </div>
            </div>

            <div id="register-error" class="error-msg"></div>

            <button type="submit" class="auth-btn-primary">
                Lorem Ipsum
            </button>

        </form>

    </div>

</section>
