/*header */
.header {
    background: #e6e6e6;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__logo {
    width: 60px;
    height: 60px;
    background: #ccc;
}

.header__center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__highlight {
    background: black;
    color: white;
    padding: 1rem 3rem;
    border-radius: 8px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__nav {
    display: flex;
    gap: 2rem;
}

/* footer*/
.footer {
    background: #e6e6e6;
    padding: 3rem 2rem;
    margin-top: 4rem;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__left h3 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.footer__socials {
    display: flex;
    gap: 1.2rem;
    font-size: 1.2rem;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.2rem;
    column-gap: 3rem;
}

/*form*/
.form-section {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.form-card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 350px;
}

.form-card form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-card input,
.form-card select {
    padding: 0.7rem;
    border: 1px solid #ccc;
}

.form-card button {
    padding: 0.7rem;
    background: black;
    color: white;
    border: none;
    border-radius: 4px;
}

/*image grid*/
.image-grid-section {
    padding: 4rem 2rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.image-grid__item {
    height: 200px;
    background: #ccc;
}

/* text image right*/
.text-image-right {
    display: flex;
    gap: 2rem;
    padding: 4rem 2rem;
    align-items: center;
}

.text-image-right__text {
    flex: 1;
}

.text-image-right__image {
    flex: 1;
    height: 250px;
    background: #ccc;
}

/*^text image vertical*/
.text-image-vertical {
    display: block;
    gap: 2rem;
    padding: 4rem 2rem;
    align-items: center;
}

/* Botones alineados en la pagina change Password*/
.button-box {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}

/* checkbox por los datos reservados en la pagina de register */
.data-consent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.data-consent input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #000000;
}

/* title-subtitle (hero)*/

.hero {
    padding: 4rem 2rem 60px 2rem;
}

.hero__content {
    width: 100%;
}

.hero__title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero__description {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}