/* css por template TABLE GENERICA  (table.html)*/
.table-section {
    padding: 4rem 2rem;
}

.table-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #333;
    padding: 1.2rem;
    text-align: center;
}

.table-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

@media (max-width: 752px) {
    .table-section {
        padding: 3rem 1rem;
    }

    .table th,
    .table td {
        padding: 0.85rem;
        font-size: 0.95rem;
    }
}

@media (max-width: 400px) {
    .table-wrapper {
        overflow-x: auto;
    }

    .table {
        min-width: 520px;
    }
}
