<app-header></app-header>

<ion-content [fullscreen]="true" *ngIf="loginData">
  <section id="auth-login-section" class="auth-section">
    <div class="auth-card">
      <ion-toolbar>
        <ion-title>Iniciar sesion</ion-title>
      </ion-toolbar>

      <form id="login-form-element" (ngSubmit)="submit()">
        <ion-item>
          <ion-label position="stacked">{{ loginData.form.labels.email }}</ion-label>
          <ion-input id="login-email" type="email" [(ngModel)]="email" name="email" [placeholder]="loginData.form.placeholders.email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{ loginData.form.labels.password }}</ion-label>
          <ion-input id="login-password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" [placeholder]="loginData.form.placeholders.password" required></ion-input>
          <ion-button slot="end" fill="clear" type="button" (click)="showPassword = !showPassword">
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-text color="danger" class="error-msg" [hidden]="!errorMessage">
          {{ errorMessage }}
        </ion-text>

        <ion-button expand="block" type="submit" id="btn-login" [disabled]="sending">
          {{ sending ? 'Validando...' : loginData.form.primaryButtonText }}
        </ion-button>

        <ion-button routerLink="/register" id="btn-register" expand="block" fill="outline">
          {{ loginData.form.secondaryButtonText }}
        </ion-button>

        <a [routerLink]="['/change-password']" class="auth-link">
          {{ loginData.form.forgotPasswordText }}
        </a>
      </form>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>


