:root {
  --ion-color-primary: #1A365D; /* --mar-navy */
  --ion-color-primary-rgb: 26, 54, 93;
  --ion-color-secondary: #D4C4A8; /* --arena-sable */
  --ion-color-secondary-rgb: 212, 196, 168;
  --ion-background-color: #EBE3D5; /* --arena-clara */
  --ion-background-color-rgb: 235, 227, 213;
  --ion-text-color: #1A365D; /* --mar-navy */
}
