<app-header></app-header>

<ion-content [fullscreen]="true">
  <section class="wellness-page wrapper container-fluid">
    <div class="page-header">
      <ion-text><h1>Wellness</h1></ion-text>
      <ion-text>
        <p>
          El area wellness refuerza la dimension de descanso del hotel y aporta espacios que
          complementan la experiencia del huesped.
        </p>
      </ion-text>
    </div>

    <div class="facility-list" *ngIf="facilities$ | async as facilities">
      <ion-card class="facility-list-item" *ngFor="let item of facilities">
        <img [src]="item.imageUrl" [alt]="item.title" class="zoomable-img" (click)="openImageModal(item.imageUrl)" referrerpolicy="no-referrer" />
        <ion-card-header class="facility-list-item__body">
          <ion-card-title>{{ item.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="facility-list-item__body">
          <p>{{ item.description }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </section>

  <ion-modal [isOpen]="!!selectedImageModal" (didDismiss)="closeImageModal()">
    <ng-template>
      <div class="image-modal-content">
        <ion-button type="button" class="image-modal-close" fill="clear" (click)="closeImageModal()">x</ion-button>
        <img [src]="selectedImageModal" *ngIf="selectedImageModal" alt="Vista ampliada">
      </div>
    </ng-template>
  </ion-modal>
  <app-footer></app-footer>
</ion-content>
