<app-header></app-header>

<div class="restaurant-page">
  <h1>Menu</h1>

  <p class="intro">
    Toca un plato para ver sus detalles. Puedes marcarlo como favorito con el corazon.
  </p>

  <div class="actions">
    <a routerLink="/favorites" class="favorites-link">Ver mis favoritos</a>
  </div>

  <ul class="dish-list" *ngIf="dishes$ | async as dishes">
    <li class="dish-item" *ngFor="let dish of dishes">
      <a class="dish-link" [routerLink]="['/dish-page', dish.id]">{{ dish.title }}</a>
      <button type="button" class="fav-btn" (click)="toggleFavorite(dish, $event)">
        <ion-icon [name]="isFavorite(dish) ? 'heart' : 'heart-outline'"></ion-icon>
      </button>
    </li>
  </ul>
</div>

<app-footer></app-footer>
