<section class="admin-table">
    <div class="admin-table__container">

        <h2 class="admin-table__title">Lorem Ipsum</h2>

        <table class="admin-table__table">
            <thead>
            <tr>
                <th>Lorem</th>
                <th>Lorem</th>
                <th>Lorem</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            </tbody>
        </table>

    </div>
</section>