<section id="auth-register-section" class="auth-section">

    <div class="auth-card">

        <form>

            <label>Lorem Ipsum</label>
            <input type="text" placeholder="Lorem Ipsum">

            <label>Lorem Ipsum</label>
            <input type="text" placeholder="Lorem Ipsum">

            <label>Lorem Ipsum</label>
            <input type="email" placeholder="Lorem Ipsum">

            <label>Lorem Ipsum</label>
            <input type="password" placeholder="Lorem Ipsum">

            <label>Lorem Ipsum</label>
            <input type="password" placeholder="Lorem Ipsum">

            <div class="auth-checkbox">
                <input type="checkbox">
                <div>
                    <strong>Lorem Ipsum</strong><br>
                </div>
            </div>

            <button type="submit" class="auth-btn-primary">
                Lorem Ipsum
            </button>

        </form>

    </div>

</section>
