<section id="auth-login-section" class="auth-section">

    <div class="auth-card">

        <form id="login-form-element">

            <label>Email</label>
            <input type="email" id="login-email" placeholder="Inserisci email" required>

            <label>Password</label>
            <input type="password" id="login-password" placeholder="Inserisci password" required>

            <div id="login-error" class="error-msg"></div>

            <button type="submit" id="btn-login" class="auth-btn-primary">
                Lorem Ipsum
            </button>

            <button type="button" id="btn-register" class="auth-btn-secondary">
                Lorem Ipsum
            </button>

            <a href="#" class="auth-link">
                Lorem Ipsum
            </a>

        </form>

    </div>

</section>
