<section class="contact-section">

    <h2 class="contact-title">Lorem ipsum dolor</h2>

    <div class="contact-card">

        <form>

            <label>Lorem</label>
            <input type="text" placeholder="Lorem ipsum dolor">

            <label>Lorem</label>
            <input type="email" placeholder="Lorem ipsum dolor">

            <label>Lorem</label>
            <input type="text" placeholder="Lorem ipsum dolor">

            <label>Lorem</label>
            <textarea rows="5" placeholder="Lorem ipsum dolor"></textarea>

            <button type="submit">Lorem Ipsum</button>

        </form>

    </div>

</section>