<section id="contact-form-section" class="auth-section">

  <div class="auth-card contact-card">

    <form id="contact-form-element">

      <label id="label-name">Lorem Ipsum</label>
      <input type="text" id="contact-name" placeholder="Lorem Ipsum" required>

      <label id="label-lastname">Lorem Ipsum</label>
      <input type="text" id="contact-lastname" placeholder="Lorem Ipsum" required>

      <label id="label-email">Lorem Ipsum</label>
      <input type="email" id="contact-email" placeholder="Lorem Ipsum" required>

      <label id="label-subject">Lorem Ipsum</label>
      <select id="contact-subject" required></select>

      <label id="label-question">Lorem Ipsum</label>
      <textarea id="contact-question" placeholder="Lorem Ipsum" required></textarea>

      <div class="auth-checkbox">
        <input type="checkbox" required>
        <div>
          <strong id="privacy-text">Lorem Ipsum</strong>
        </div>
      </div>

      <div id="contact-error" class="error-msg"></div>
      <div id="contact-success" class="success-msg" style="display: none; color: green; text-align: center; font-weight: bold; margin-top: 10px;">¡Mensaje enviado con éxito!</div>

      <button type="submit" id="btn-submit" class="auth-btn-primary">
        Lorem Ipsum
      </button>

    </form>

  </div>

</section>