<section class="data-table">
    <div class="container">
        <h2 class="data-table__title">Lorem Ipsum</h2>

        <table class="data-table__table">
            <thead>
            <tr>
                <th>Lorem ipsum</th>
                <th>Lorem ipsum</th>
                <th>Lorem ipsum</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>