<section class="faq-section">

    <h2 class="faq-title">Lorem Ipsum</h2>

    <div class="faq-wrapper">
        <table class="faq-table">
            <tbody>
            <tr>
                <td class="faq-question">Lorem ipsum dolor sit amet consectetur adipiscing elit.</td>
                <td class="faq-answer">Lorem ipsum dolor sit amet consectetur adipiscing elit.</td>
            </tr>
            <tr>
                <td class="faq-question">Lorem ipsum dolor sit amet consectetur adipiscing elit.</td>
                <td class="faq-answer">Lorem ipsum dolor sit amet consectetur adipiscing elit.</td>
            </tr>
            <tr>
                <td class="faq-question">Lorem ipsum dolor sit amet consectetur adipiscing elit.</td>
                <td class="faq-answer">Lorem ipsum dolor sit amet consectetur adipiscing elit.</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>