<section id="checkout-section" class="form-section" style="display: none;">

    <div class="form-card booking-checkout-card">

        <h2 class="form-title">Lorem Ipsum (Completa tu reserva)</h2>

        <div class="booking-summary">
            <div class="summary-item">
                <span>Lorem (Check-in):</span>
                <strong>00/00/0000</strong> <!-- acuerdate con js de prender las fechas de entradas/salidas que se ponene en el formulario -->
            </div>
            <div class="summary-item">
                <span>Lorem (Check-out):</span>
                <strong>00/00/0000</strong>
            </div>
            <div class="summary-item">
                <span>Lorem (Habitación):</span>
                <strong>Lorem Ipsum Suite</strong>
            </div>
        </div>

        <form id="final-booking-form">

            <div class="form-row">
                <div class="form-group-alt">
                    <label>Lorem (Nombre)</label>
                    <input type="text" placeholder="Lorem" required>
                </div>
                <div class="form-group-alt">
                    <label>Lorem (Apellido)</label>
                    <input type="text" placeholder="Lorem" required>
                </div>
            </div>

            <div class="form-group-alt">
                <label>Lorem (Email)</label>
                <input type="email" placeholder="Lorem Ipsum" required>
            </div>

            <div class="checkbox-group-alt">
                <label>
                    <input type="checkbox" required>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </label>
            </div>

            <button type="submit" class="btn btn-primary btn-full">Lorem Ipsum (Reservar)</button>
        </form>

        <div id="success-message" class="success-message" style="display: none;">
            <div class="success-icon">✔️</div>
            <h3>Lorem Ipsum!</h3>
            <p>Lorem ipsum dolor sit amet. Reserva efectuada con éxito.</p>
        </div>

    </div>

</section>