<div class="header__left">
    <a href="./pages/index.html">
        <div class="header__logo"></div>
    </a>
    <a href="./pages/index.html">
        <span>Lorem</span>
    </a>
</div>

<div class="header__center">
    <a href="./pages/booking.html" class="header__highlight">Lorem Ipsum</a>
</div>

<div class="header__right">
    <nav class="header__nav">
        <ul class="nav-links">
            <li><a href="./pages/rooms.html">Lorem</a></li>
            <li class="dropdown">
                <a href="./pages/services.html" class="drop-btn">Lorem</a>
                <div class="dropdown-content">
                    <a href="./pages/restaurant.html">Lorem</a>
                    <a href="./pages/wellness-facilities.html">Lorem</a>
                    <a href="./pages/activities.html">Lorem</a>
                </div>
            </li>
            <li><a href="./pages/contact.html">Lorem</a></li>
        </ul>
    </nav>
    <div class="header__button dropdown">
        <a href="./pages/login.html" class="drop-btn">
            Lorem
        </a>
        <div class="dropdown-content">
            <a href="./pages/login.html">Lorem</a>
            <a href="./pages/register.html">Lorem</a>
            <a href="./pages/change-password.html">Lorem</a>
        </div>
    </div>
</div>