<div class="header__left">
    <a href="../index.html">
        <div class="header__logo"></div>
    </a>
    <a href="../index.html">
        <span>Lorem</span>
    </a>
</div>

<div class="header__center">
    <a href="../booking.html" class="header__highlight">Lorem Ipsum</a>
</div>

<div class="header__right">
    <nav class="header__nav">
        <ul class="nav-links">
            <li><a href="../rooms.html">Lorem</a></li>
            <li class="dropdown">
                <a href="../services.html" class="drop-btn">Lorem</a>
                <div class="dropdown-content">
                    <a href="../restaurant.html">Lorem</a>
                    <a href="../wellmess-facilities.html">Lorem</a>
                    <a href="../activities.html">Lorem</a>
                </div>
            </li>
            <li><a href="../contact.html">Lorem</a></li>
        </ul>
    </nav>
    <div class="header__button dropdown">
        <a href="../login.html" class="drop-btn">
            Lorem
        </a>
        <div class="dropdown-content">
            <a href="../login.html">Lorem</a>
            <a href="../register.html">Lorem</a>
            <a href="../change-password.html">Lorem</a>
        </div>
    </div>
</div>