<a id="header-logo-link" href="index.html" class="logo-container">
    <div class="logo-placeholder"></div>
    <span class="hotel-name">Lorem Ipsum</span>
</a>

<div id="header-main-action" class="main-action-container">
    <a href="booking.html" class="btn btn-primary btn-large">Lorem Ipsum</a>
</div>

<nav id="header-nav-menu" class="nav-menu">
    <ul class="nav-list">
        <li><a href="rooms.html" class="nav-link">Lorem</a></li>

        <li class="dropdown-item">
            <a href="services.html" class="nav-link">Lorem ▾</a>
            <ul class="dropdown-menu">
                <li><a href="restaurant.html">Lorem</a></li>
                <li><a href="wellness-facilities.html">Lorem</a></li>
                <li><a href="activities.html">Lorem</a></li>
            </ul>
        </li>

        <li><a href="contact.html" class="nav-link">Lorem</a></li>

        <li class="dropdown-item">
            <a href="login.html" class="btn btn-primary btn-small">Lorem ▾</a>
            <ul class="dropdown-menu dropdown-right">
                <li><a href="login.html">Lorem</a></li>
                <li><a href="register.html">Lorem</a></li>
                <li><a href="change-password.html">Lorem</a></li>
            </ul>
        </li>
    </ul>
</nav>
