<section class="reservations">
    <div class="reservations__container">

        <table class="reservations__table">
            <thead>
            <tr>
                <th>Lorem</th>
                <th>Lorem Ipsum</th>
                <th>Lorem Ipsum</th>
                <th>Lorem</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lorem</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem</td>
            </tr>
            </tbody>
        </table>

    </div>
</section>