<section class="admin-table-section">

    <h2 class="admin-table__title">Lorem Ipsum</h2>

    <div class="admin-table-wrapper">
        <table class="admin-table">
            <thead>
            <tr>
                <th>Lorem</th>
                <th>Lorem</th>
                <th>Lorem</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>