<section class="table-card-section">
    <div class="table-card-container">

        <h2 class="table-card__title">
            Lorem Ipsum
        </h2>

        <div class="table-card">

            <div class="table-card__row table-card__header">
                <div>Lorem</div>
                <div>Lorem</div>
                <div>Lorem</div>
            </div>

            <div class="table-card__row">
                <div>000</div>
                <div>00/00/0000</div>
                <div>00/00/0000</div>
            </div>

            <div class="table-card__row">
                <div>000</div>
                <div>00/00/0000</div>
                <div>00/00/0000</div>
            </div>

        </div>

    </div>
</section>