<section id="table-menu-section" class="menu-section">

    <h2 class="menu-section__title">
        Lorem ipsum dolor sit
    </h2>

    <div class="menu-table">
        <table>
            <tbody>

            <tr>
                <td class="menu-item-name">Lorem ipsum dolor sit</td>

                <td class="menu-item-price">0€</td>

                <td class="menu-item-img">
                    <div class="white-placeholder"></div>
                </td>
            </tr>

            <tr>
                <td class="menu-item-name">Lorem ipsum dolor sit</td>
                <td class="menu-item-price">0€</td>
                <td class="menu-item-img"><div class="white-placeholder"></div></td>
            </tr>

            <tr>
                <td class="menu-item-name">Lorem ipsum dolor sit</td>
                <td class="menu-item-price">0€</td>
                <td class="menu-item-img"><div class="white-placeholder"></div></td>
            </tr>

            </tbody>
        </table>
    </div>

</section>
