<section class="availability-section">

    <h2 class="availability-title">Lorem Ipsum</h2>

    <div class="availability-wrapper">
        <table class="availability-table">
            <thead>
            <tr>
                <th>Lorem</th>
                <th>00/00</th>
                <th>00/00</th>
                <th>00/00</th>
                <th>00/00</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lorem</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>