<app-header></app-header>

<ion-content [fullscreen]="true">
  <main class="rooms-page page-rooms">
    <section class="rooms-wrapper" *ngIf="rooms$ | async as rooms">
      <ion-card
        *ngFor="let room of rooms; let i = index"
        [class]="i % 2 === 0 ? 'text-image-right room-section' : 'text-image-left room-section'"
      >
        <div class="text-image-right__text">
          <h2>{{ room.title }}</h2>
          <p [innerHTML]="room.description"></p>
        </div>
        <div class="text-image-right__image" [style.background]="room.imageGradient"></div>
      </ion-card>
    </section>
  </main>
  <app-footer></app-footer>
</ion-content>
