<app-header></app-header>

<main *ngIf="restaurantData$ | async as restaurantData">
  <app-text-image-section
    sectionClass="text-image-vertical"
    [sectionData]="{
      title: restaurantData.dailyMenu.title,
      description:
        restaurantData.dailyMenu.description +
        (restaurantData.dailyMenu.price ? ' Precio: ' + restaurantData.dailyMenu.price : ''),
      imageGradient: restaurantData.dailyMenu.imageGradient
    }"
  ></app-text-image-section>

  <div class="menu-fixed-header">
    <h2 id="fixed-menu-title">{{ restaurantData.fixedMenu.title }}</h2>
  </div>

  <section id="starters" class="menu-section">
    <h2 class="menu-section__title">{{ restaurantData.starters.title }}</h2>
    <div class="menu-table">
      <table>
        <tbody>
          <tr *ngFor="let item of restaurantData.starters.items" class="menu-table__row">
            <td data-label="Plato" class="menu-item-name">{{ item.name }}</td>
            <td data-label="Precio" class="menu-item-price">{{ item.price }}</td>
            <td class="menu-item-img"><div class="white-placeholder" [style.background]="item.imageGradient"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section id="first-dish" class="menu-section">
    <h2 class="menu-section__title">{{ restaurantData.firstDishes.title }}</h2>
    <div class="menu-table">
      <table>
        <tbody>
          <tr *ngFor="let item of restaurantData.firstDishes.items" class="menu-table__row">
            <td data-label="Plato" class="menu-item-name">{{ item.name }}</td>
            <td data-label="Precio" class="menu-item-price">{{ item.price }}</td>
            <td class="menu-item-img"><div class="white-placeholder" [style.background]="item.imageGradient"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section id="second-dish" class="menu-section">
    <h2 class="menu-section__title">{{ restaurantData.secondDishes.title }}</h2>
    <div class="menu-table">
      <table>
        <tbody>
          <tr *ngFor="let item of restaurantData.secondDishes.items" class="menu-table__row">
            <td data-label="Plato" class="menu-item-name">{{ item.name }}</td>
            <td data-label="Precio" class="menu-item-price">{{ item.price }}</td>
            <td class="menu-item-img"><div class="white-placeholder" [style.background]="item.imageGradient"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section id="dessert-dish" class="menu-section">
    <h2 class="menu-section__title">{{ restaurantData.desserts.title }}</h2>
    <div class="menu-table">
      <table>
        <tbody>
          <tr *ngFor="let item of restaurantData.desserts.items" class="menu-table__row">
            <td data-label="Plato" class="menu-item-name">{{ item.name }}</td>
            <td data-label="Precio" class="menu-item-price">{{ item.price }}</td>
            <td class="menu-item-img"><div class="white-placeholder" [style.background]="item.imageGradient"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>

<app-footer></app-footer>
