<section [class]="sectionClass">
  @if (imageFirst) {
    <div
      class="text-image-right__image"
      [style.background]="sectionData.imageGradient"
      [style.cursor]="sectionData.imageLink ? 'pointer' : 'default'"
      (click)="handleClick()"
    ></div>
  }

  <div class="text-image-right__text">
    <ion-text><h2>{{ sectionData.title }}</h2></ion-text>
    <ion-text><p>{{ sectionData.description }}</p></ion-text>
  </div>

  @if (!imageFirst) {
    <div
      class="text-image-right__image"
      [style.background]="sectionData.imageGradient"
      [style.cursor]="sectionData.imageLink ? 'pointer' : 'default'"
      (click)="handleClick()"
    ></div>
  }
</section>
